* {
  color: black;
}

body {
  background-color: darkgray;
}
#blackbackgroundtext {
  color: darkgrey;
}

h1 {
  color: midnightblue;
}
@media(max-width: 550px){
  header {
    background-color: crimson;

  }
  footer {
    background-color: black;
  }
}

